.footer{
    background-color: #51459E !important;
    color: white !important;
    /* height:100px; */
    /* width: 100%; */
    /* position: absolute;
    bottom:-1200px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
  flex-wrap: wrap;
    gap:30px;
    padding: 50px;
  
  }
  /* @media screen and (max-width:450px){
   .footer{
    background-color: #51459E !important;
    color: white !important;
    
    display: flex;
    align-items:center;
    
    flex-direction: column;
    gap:30px;
    padding: 50px 50px;
  
   }
    
  } */
  .aboutus{
      max-width: 500px;
  }
  /* .contact{
      
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;

  } */
  .contact_icon{
    display: flex;
    gap:20px;
  }