.relatedques-display{
  
    min-height: 80vh;
    display:flex;
    flex-direction: column;
    margin-left: 0px !important;
    padding-left: 20px;
    border-left: 1px solid gray;
    padding-right: 20px;
    /* background-color: khaki; */
  }
  .result-for{
    margin-top:30px ;
    display:flex;
    justify-content: space-between;
    color: rgb(82, 80, 80);
    border-bottom: .5px solid rgb(217, 217, 219);
  }
  .relatedques_container{
      display: flex;
      flex-direction: column;
  }
  .relatedques-box{
    display:flex;
    padding: 20px 0px;
    justify-content:flex-start;
    border-bottom: .5px solid rgb(217, 217, 219);
    gap:20px;
    /* background-color: rgb(199, 226, 199); */
    
  }
  .ques-details{
    /* width:100px;  */
    display:flex;
    
    flex-direction: column;
    justify-content: space-between;
    gap:15px;
    align-items: center;
   text-align: center;
   color: rgb(82, 80, 80);
    /* background-color: honeydew; */
    
  }
  .count_box{
      height:60px;
      width: 60px;
      /* background-color: khaki; */
  }
  .va-count{
    font-size: 20px;
    
  }
  .va-name{
    font-size: 14px;
    
  }
  
  .ques-details,p{
    margin: 0px !important;
    font-weight:500;
    
  }
  .answer-count-box{
    background-color: rgb(6, 182, 79);
    color:rgb(240, 238, 238) !important;
    padding: 3px ;
    border-radius: 5px;
  }
  .ques-content{
    flex:1;
    display:flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap:5px;
  
  }
  .ques-title{
    color:rgb(4, 93, 177);
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
  }
  .tags-user{
    display:flex;
    
    justify-content: space-between;
    /* background-color: lawngreen; */
  
  }
  .tags-content{
    display: flex;
    gap:5px;
    
  }
  .tag-box{
    background-color: rgb(209, 235, 252);
    color: rgb(5, 87, 163);
    padding: 2px 5px;
    border-radius: 3px;
  }
  .user-name{
    color:rgb(82, 80, 80);
    font-size: 14px;
  }
  .no-result{
    height: 80vh;
    display: flex;
    margin-top: 100px;
     align-items: center;
    flex-direction: column;
    color: rgb(82, 80, 80);
  }
  
  